#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Empty-Screen {
  border-collapse: separate;
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Cell_top > .valign {
  vertical-align: middle;
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-base_1 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Panel_22 > .valign {
  vertical-align: top;
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Label_69 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-menu_1 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Cell_center > .valign {
  vertical-align: middle;
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Rectangle {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Picture {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Picture_1 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Picture_2 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Picture_3 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Picture_4 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-star_1 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-more {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Rich_text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Cell_bottom > .valign {
  vertical-align: middle;
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-549261fe-0e11-427c-b286-9a6a8b5cbc46 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}