#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-menu_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}