#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Empty-Screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_top .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_top .verticalalign {
  vertical-align: middle;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_top {
  width: 360px;
  height: 75px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Header {
  width: 360px;
  height: 76px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-base_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 38px;
  background-color: #4384F7;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-base_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-base_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-base_1 span#rtr-s-base_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-status-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_34 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_34 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_34 span#rtr-s-Rectangle_34_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Dynamic_Panel_14 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Panel_22 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Panel_22 .verticalalign {
  vertical-align: top;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_23 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Label_69 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Label_69 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Label_69 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Label_69 span#rtr-s-Label_69_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_2 {
  position: absolute;
  top: 36px;
  left: 53px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-menu_1 > svg {
  width: 26px;
  height: 26px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-menu_1 {
  position: absolute;
  top: 36px;
  left: 17px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_center .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_center .verticalalign {
  vertical-align: middle;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_center {
  width: 360px;
  height: 517px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_1 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_80 > svg {
  width: 191px;
  height: 183px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_80 {
  width: 191px;
  height: 183px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_3 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_81 > svg {
  width: 191px;
  height: 183px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_81 {
  width: 191px;
  height: 183px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Button_19 {
  width: 246px;
  height: 42px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Button_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Button_19 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Button_19 span#rtr-s-Button_19_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_bottom .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_bottom .verticalalign {
  vertical-align: middle;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_bottom {
  width: 360px;
  height: 48px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Horizontal-softkeys {
  width: 360px;
  height: 48px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_27 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}