#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Empty-Screen {
  border-collapse: separate;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_top > .valign {
  vertical-align: middle;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-base_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Panel_22 > .valign {
  vertical-align: top;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Label_69 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-menu_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_center > .valign {
  vertical-align: middle;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Button_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Cell_bottom > .valign {
  vertical-align: middle;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6194b9a4-45c0-48ad-b772-9d82a46bde51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}