#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-base_3 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Panel_23 > .valign {
  vertical-align: top;
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Label_70 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-menu_1 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Two-line-item_29 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Two-line-item_22 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-inbox_1 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Two-line-item_35 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-promo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-outbox_1 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Two-line-item_23 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-spam_1 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Two-line-item_36 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-forum_1 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Two-line-item_37 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Two-line-item_38 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Two-line-item_39 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-notifications_1 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-911d7e98-b6de-4ad3-95c3-f65871d2daf3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}