#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Detail-message-screen {
  border-collapse: separate;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_top > .valign {
  vertical-align: middle;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-base_1 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Panel_22 > .valign {
  vertical-align: top;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Label_69 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-arrow-back_3 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Panel_12 > .valign {
  vertical-align: top;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_bottom > .valign {
  vertical-align: middle;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}