#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Detail-message-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_top .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_top .verticalalign {
  vertical-align: middle;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_top {
  width: 360px;
  height: 75px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Header {
  width: 360px;
  height: 76px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-base_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 38px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-base_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-base_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-base_1 span#rtr-s-base_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-base_1 span#rtr-s-base_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-status-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_34 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_34 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_34 span#rtr-s-Rectangle_34_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Dynamic_Panel_14 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Panel_22 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Panel_22 .verticalalign {
  vertical-align: top;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_23 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Label_69 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Label_69 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Label_69 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Label_69 span#rtr-s-Label_69_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-arrow-back_3 > svg {
  width: 26px;
  height: 26px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-arrow-back_3 {
  position: absolute;
  top: 39px;
  left: 14px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_center .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_center .verticalalign {
  vertical-align: middle;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_center {
  width: 360px;
  height: 517px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-inbox-dinamicpanel {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Panel_12 {
  width: 360px;
  height: 514px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Panel_12 .verticalalign {
  vertical-align: top;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_1 {
  padding-top: 10px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Input_1 {
  padding-left: 20px;
  width: 192px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Input_1 input {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_2 {
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Input_2 {
  padding-left: 20px;
  width: 192px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Input_2 input {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_3 {
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Input_3 {
  padding-left: 20px;
  width: 192px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Input_3 input {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_4 {
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_79 > svg {
  width: 354px;
  height: 342px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_79 {
  width: 354px;
  height: 342px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_bottom .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_bottom .verticalalign {
  vertical-align: middle;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Cell_bottom {
  width: 360px;
  height: 48px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Horizontal-softkeys {
  width: 360px;
  height: 48px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_29 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}