#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-arrow-back_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-949682a1-3da4-4f6a-9d4e-9c0195f6a280 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}