#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-base_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Label_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-menu_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d8b03e52-63da-4639-a80d-39653997eea3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}